<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product page</title>
</head>
<body>
<form th:method="GET" th:action="@{/product}">
    <input type="submit" value="Back">
</form>

<p th:text="${'INFORMATION ABOUT PRODUCT WITH ID=' + productGetById.getId()}"></p>
<p th:text="${'NAME=' + productGetById.getName()}"></p>
<p th:text="${'ARTICLE=' + productGetById.getArticle()}"></p>
<p th:text="${'PRICE=' + productGetById.getPrice()}"></p>
<p th:text="${'QUANTITY=' + productGetById.getQuantity()}"></p>
<p th:text="${'DESCRIPTION=' + productGetById.getDescription()}"></p>

<div th:if="${productStoreOwner}">
    <p>Product present in the store=</p>
    <a th:href="@{/store/{id}(id=${productStoreOwner.getId()})}"
       th:text="${productStoreOwner.getName() + ', address=' + productStoreOwner.getAddress()}"></a>
    <form th:method="PUT" th:action="@{/product/release/{id}(id=${productGetById.getId()})}">
        <input type="submit" value="Release">
    </form>
</div>

<div th:if="${storeList}">
    <p>This product is not present in any store yet</p>
    <form th:method="PUT"
          th:action="@{/product/assign/{id}(id=${productGetById.getId()})}">
        <label for="storeSelectId">SELECT STORE:</label>
        <select th:object="${productGetById}"
                th:field="*{id}"
                id="storeSelectId">
            <option th:each="store : ${storeList}"
                    th:value="${store.getId()}"
                    th:text="${store.getName() + ', address=' + store.getAddress() + 'edrpou=' + store.getEdrpou()}"
            ></option>
        </select>
        <input type="submit" value="Assign">
    </form>
</div>


<form th:method="GET" th:action="@{/product/edit/{id}(id=${productGetById.getId()})}"
      style="display: inline;">
    <input type="submit" value="Edit">
</form>

<form th:method="DELETE" th:action="@{/product/{id}(id=${productGetById.getId()})}"
      style="display: inline;">
    <input type="submit" value="Delete">
</form>

</body>

</html>