<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product filter page</title>
</head>
<body>
<div th:if="${productFilterList}">
    <p style="margin-bottom: 5px;">RESULT OF FILTER:</p>
    <div th:each="productF : ${productFilterList}">
        <a th:href="@{/product/{id}(id=${productF.getId()})}"
           th:text="${productF.getId() + '. Name= ' + productF.getName() + ', price= ' + productF.getPrice() + ', article= ' + productF.getArticle() + ', quantity= ' + productF.getQuantity()}"
        >
        </a>
    </div>
</div>
<div th:if="${emptyList}">
    <p>NO RESULT</p>
</div>
<br>
<br>
<form th:method="GET" th:action="@{/product}">
    <input type="submit" value="Back">
</form>
</body>
</html>