<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product page</title>
</head>
<body>
<p th:text="${'INFORMATION ABOUT PRODUCT WITH ID=' + productGetById.getId()}"></p>
<p th:text="${'NAME=' + productGetById.getName()}"></p>
<p th:text="${'ARTICLE=' + productGetById.getArticle()}"></p>
<p th:text="${'PRICE=' + productGetById.getPrice()}"></p>
<p th:text="${'QUANTITY=' + productGetById.getQuantity()}"></p>
<p th:text="${'DESCRIPTION=' + productGetById.getDescription()}"></p>

<form th:method="GET" th:action="@{/product/edit/{id}(id=${productGetById.getId()})}">
    <input type="submit" value="Edit">
</form>

<form th:method="DELETE" th:action="@{/product/{id}(id=${productGetById.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>

</html>