<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products page</title>
    <style>
        .active {
            font-weight: bold;
            text-decoration: underline;
            color: red;
        }
    </style>
</head>
<body>
<div th:each="product : ${productList}">
    <a th:href="@{/product/{id}(id=${product.getId()})}"
       th:text="${product.getId() + '. Name=' + product.getName() + ', price=' + product.getPrice() + ', quantity=' + product.getQuantity() + ', article=' + product.getArticle() + ', description=' + product.getDescription()}"
    >
    </a>

    <form th:method="GET" th:action="@{/product/edit/{id}(id=${product.getId()})}"
          style="display: inline; margin-left: 10px;">
        <input type="submit" value="Edit">
    </form>

    <form th:method="DELETE" th:action="@{/product/{id}(id=${product.getId()})}"
          style="display: inline;margin-left: 10px;">
        <input type="submit" value="Delete">
    </form>
</div>

<form th:method="GET"
      th:action="@{/product/new}">
    <input type="submit" value="Add new Product">
</form>

<form th:method="GET"
      th:action="@{/product/search}"
>
    <input type="submit" value="Search">
    <label>
        <input type="text" name="query" placeholder="Enter product name or article for search">
    </label>
</form>

<ul>
    <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}" style="display: inline; margin-left: 10px;">
        <a th:href="@{'/product?page=' + ${i} + '&size=' + 10}"
           th:classappend="${i == currentPage} ? 'active' : ''">
            <span th:text="${i + 1}">Page</span>
        </a>
    </li>
</ul>
</body>
</html>