<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store new page</title>
</head>
<body>
<p th:text="${'INFORMATION ABOUT STORE WITH ID=' + storeGetById.getId()}"></p>
<p th:text="${'NAME=' + storeGetById.getName()}"></p>
<p th:text="${'ADDRESS=' + storeGetById.getAddress()}"></p>
<p th:text="${'EDRPOU=' + storeGetById.getEdrpou()}"></p>
<p th:text="${'SPECIAL NUMBER=' + storeGetById.getSpecialNumber()}"></p>
<p th:text="${'DESCRIPTION=' + storeGetById.getDescription()}"></p>
</body>

<form th:method="GET"
      th:action="@{/store/edit/{id}(id=${storeGetById.getId()})}">
    <input type="submit" value="Edit">
</form>
</html>