<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store update page</title>
</head>
<body>
<form th:method="GET" th:action="@{/store/{id}(id=${updateStore.getId()})}">
    <input type="submit" value="Back">
</form>
<form th:method="PUT"
      th:action="@{/store/{id}(id=${updateStore.getId()})}"
      th:object="${updateStore}">

    <label for="nameId">NAME=</label>
    <input type="text" th:field="*{name}" id="nameId">
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br>

    <label for="addressId">ADDRESS=</label>
    <input type="text" th:field="*{address}" id="addressId">
    <div style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
    <br>

    <label for="edrpouId">EDRPOU=</label>
    <input type="text" th:field="*{edrpou}" id="edrpouId">
    <div style="color: red" th:if="*{#fields.hasErrors('edrpou')}" th:errors="*{edrpou}"></div>
    <br>

    <label for="specialNumberId">SPECIAL NUMBER=</label>
    <input type="text" th:field="*{specialNumber}" id="specialNumberId">
    <div style="color: red" th:if="${#fields.hasErrors('specialNumber')}" th:errors="*{specialNumber}"></div>
    <br>

    <label for="descriptionId">DESCRIPTION=</label>
    <input type="text" th:field="*{description}" id="descriptionId">
    <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    <br>

    <input type="submit" value="Edit">
</form>

</body>
</html>