<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store new page</title>
</head>
<body>
<form th:method="GET" th:action="@{/store}">
    <input type="submit" value="Back">
</form>

<p th:text="${'INFORMATION ABOUT STORE WITH ID=' + storeGetById.getId()}"></p>
<p th:text="${'NAME=' + storeGetById.getName()}"></p>
<p th:text="${'ADDRESS=' + storeGetById.getAddress()}"></p>
<p th:text="${'EDRPOU=' + storeGetById.getEdrpou()}"></p>
<p th:text="${'SPECIAL NUMBER=' + storeGetById.getSpecialNumber()}"></p>
<p th:text="${'DESCRIPTION=' + storeGetById.getDescription()}"></p>

<div th:if="${productList}">
    <p>LIST OF PRODUCTS:</p>
    <div th:each="product : ${productList}">
        <a th:href="@{/product/{id} (id=${product.getId()})}"
           th:text="${product.getId() + '. Name=' + product.getName() + ', price=' + product.getPrice() + ', article=' + product.getArticle() + ', quantity=' + product.getQuantity()}"
        >
        </a>
        <!-- Кнопка для release продукту -->
        <form th:method="PUT"
              th:action="@{/store/release/{id}(id=${product.getId()})}">
            <input type="hidden" name="_method" value="PUT"/>
            <input type="submit" value="Release">
        </form>
    </div>
</div>

<div th:if="${emptyList}">
    <p>EMPTY LIST</p>
</div>

<!-- Форма для assign продукту до магазину -->
<div th:if="${availableProductList}">
    <p>ASSIGN PRODUCT TO THIS STORE:</p>
    <form th:method="POST" th:action="@{/{storeId}/product/assign storeId=${storeGetById.getId()}}">
        <label for="productSelectId">SELECT PRODUCT</label>
        <select th:object="${storeGetById}"
                th:field="*{id}"
                id="productSelectId">
            <option th:each="product : ${availableProductList}"
                    th:value="${product.getId()}"
                    th:text="${'name=' + product.getName() +',price=' + product.getPrice() + ',article='+ product.getArticle() + ',quantity=' + product.getQuantity()}">
            </option>
        </select>
        <input type="hidden" name="_method" value="PUT"/>
        <input type="submit" value="Assign">
    </form>
</div>

<form th:method="GET"
      th:action="@{/store/edit/{id}(id=${storeGetById.getId()})}">
    <input type="submit" value="Edit">
</form>

<form th:method="DELETE"
      th:action="@{/store/{id} (id=${storeGetById.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>

</html>